/* Вторинний колір тексту #212121 */
/* Основний колір тексту #757575 */
/* Колір тексту логотипу #2196F3   #000000 */
/* Колір меню навігації #212121 */
/* Колір активного посилання #2196F3 */
/* Колір Email, tel: background: #757575; */
/* Колір навігації Email, tel: background: #2196F3; */
/* Колір Email,tel: у footer rgba(255, 255, 255, 0.6) */
/* Колір білого тексту background: #FFFFFF; */
/* Основний колір фону #FFFFFF */

:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--h1-text-color: #FFFFFF;
--accent-color: #2196F3;
--logo-primary-text-color: #2196F3;
--logo-title-text-color: #000000;
--nav-primary-text-color: #212121;
--email-tel-color-footer: rgba(255, 255, 255, 0.6);
--primary-fon-color: #FFFFFF;
--primary-color-footer: #2F303A;
}



/* index.html */

body {
    background-color: var(--primary-fon-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
  }
ul{list-style: none;}

/* Шапка */

.logo {
color: var(--logo-primary-text-color);
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.stydio{
  color: var(--title-text-color);
}
.site-nav .link {
color: var(--nav-primary-text-color);
font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
  color:var(--accent-color);
}
.contacts-nav a {
color: var(--primary-text-color);
font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Банер */

.baner {
  background-color: var(--primary-color-footer);
}
.baner-title {
  color: var(--h1-text-color);
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

}
.baner-button {
  background-color: var(--accent-color);
  color: var(--h1-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
    

}

/* Наші переваги */
.section-list{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.section-title,
.title{
color: var(--title-text-color); 
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em
}
.section-title,
.options{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em
}

/* Чим ми займаємось */

.work-title{
color: var(--nav-primary-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em
}

/* Наша команда */

.command{
background-color: #F5F4FA;
}
.command-title{
color: var(--title-text-color);  
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
  
}
.surname-title{
color: var(--nav-primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em
  
}
.position{
font-weight: 400;
font-size: 16px;
line-height: 1.19px;
letter-spacing: 0.03em;
}

/* Підвал */
.footer-color{
background-color: #2F303A;
}
.stydio-footer{
color: var(--h1-text-color);
}
.address-nav .link {
color:var(--h1-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.address-nav .link:hover,
.address-nav .link:focus {
color: var(--accent-color);
}

.nav-link{
color: rgba(255, 255, 255, 0.6);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.nav-link:hover,
.nav-link:focus {
color: var(--accent-color);
}

/* portfolio.html */

.portfolio .button {
background-color: #F5F4FA;;
color: var(--nav-primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
}

.portfolio .button:hover,
.portfolio .button:focus {
  background-color: var(--accent-color);
  color: var(--h1-text-color);
}
.pointer {
  cursor: pointer;
}

.portfolio-title {
  color: var(--nav-primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-name{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}