: :root{

}

/* Основний колір тексту #212121 */
/* Вторинний колір тексту #757575 */
/* Колір тексту логотипу #2196F3   #000000 */
/* Колір меню навігації #212121 */
/* Колір активного посилання #2196F3 */
/* Колір Email, tel: background: #757575; */
/* Колір навігації Email, tel: background: #2196F3; */
/* Колір Email,tel: у footer rgba(255, 255, 255, 0.6) */
/* Колір білого тексту background: #FFFFFF; */
/* Основний колір фону #FFFFFF */

body {
    background-color: #FFFFFF;
    color: #757575;
}
ul{list-style: none;}

/* Шапка */
.logo {
color: #2196F3;
}
.site-nav .link {
color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
.contacts-nav a {
color: #757575;
}
.contact-link:hover,
.contact-link:focus {
  color: #2196F3;
}

/* Банер */

/* Наші переваги */
.section-title, 
.title{
color: #212121;    
}

/* Чим ми займаємось */


/* Наша команда */
.command-list,
.title{
color: #212121;  
}

/* Підвал */